p{
  font-size:30px;
  color: #008000;
}
h1{
  font-size:75px;
}
h2{
  font-size:40px;
}
.media-body{
  background-color: #b0c4ed;
  border-top: 6px solid #e8e2d6;
  border-bottom: 6px solid #e8e2d6;
  border-left: 6px solid #e8e2d6;
}
a{
  color: #ff0000;
}
b{
  font-size:30px;
}
body{
  background: #c0c0c0;
  text-align: center;
  margin: 30px auto;
}
